.time-input::-webkit-calendar-picker-indicator {
  display: none;
}

.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #666 transparent; /* Firefox */
}

:-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar {
  width: 4px; /* super thin */
  height: 4px; /* for horizontal scroll */
}

:-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #666; /* or any color you want */
  border-radius: 10px;
}

:-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

select {
  appearance: none; /* modern way */
  -webkit-appearance: none; /* Safari, older Chrome */
  -moz-appearance: none; /* Firefox */
  background: none; /* optional: clear the background */
}

.fire-gradient {
  background: #ff0000;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 200, 0, 1) 100%
  );
}

.progress-bar-bg-color {
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 0%, #2cb67d 50%, #0d9488 100%);
}

.ui-selected {
  border-color: #2cb67d;
}
.ui-selecting {
  border-style: dashed;
  border-color: #2cb67d;
}

.active {
  color: #0f0f0f;
}

.will-change {
  will-change: transform;
}
